
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer {
    margin-top: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 72px;
    background: #1f2937;
    padding: 0 15%;
}
.header {
    height: 72px;
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    color: #f9FAf8;
    font-size: 24px;
    align-items: center;
    padding: 10px 15%;
}
.header ul { 
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    font-size: 18px;
    padding: 10px 0px;
    align-items: center;
    
}
.header a {
    Color: #E5E7EB;
    text-decoration: none;
}
.hero-container {
    display: flex;
    background: #1f2937;
    justify-content: space-between;
    gap: 30px;
    padding: 5% 20%;
}
.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9FAf8;
    display: block;
}
.hero-text{
    flex: 1;
    font-size: 18px;
    color: #e5e7Eb;
    padding: 5px;
}
.hero-image {
    height: 100%;
    width: 100%;
    flex: 1;
}
.sign-up-button {
    display: flex;
    margin: 10px 0;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 5px 25px;
    border-style: none;
}
.hero-image {
    width: 200px;
    height: auto;
    background-color: grey;
   justify-content: center;
    display: flex;
    align-items: center;
    color: white;
}
.information {
    padding: 5% 15%;
}

.information h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 10px 0px;
    text-align: center;
}
.cards-container {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    flex-wrap: wrap;
    width: auto;
}
.card {
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.image-card {
    border: 5px #3882F6 solid;
    height: 150px;
    width:  150px;
    border-radius: 5px;
}
.quote-container {
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    background-color: #e5e7Eb;
    font-size: 36px;
    color: #1F2937;
    font-weight: 200;
}
.quote {
    font-style: italic;
}

.quote-signoff {
font-weight: 800;
text-align: right;
font-size: 18px;
padding: 15px;
}
.action-banner-container {
    padding: 5% 20%;
}
.action-banner {
   background-color: #3882f6; 
   color: #f9faf8;
   display: flex;
    flex: 1;
    padding: 5% 10%;
    border-radius: 10px;
}
.action-banner-text span {
    font-weight: 600;
    font-size: 24px;
    display: block;
}
.action-banner-text {
    flex: 3;
}
.action-banner-button {
    flex: 1;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.action-banner-button button {
    background-color: #3882f6;
    border: 2px white solid;
    border-radius: 5px;
    padding: 5% 10%;
    color: white;
}
.footer {
    color: white;
}